@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-family: "Pacifico", sans-serif;
}


/* ---------------------------------------------------------------------------------------- */ 

li, a, button, #nav-text{
    font-weight: 500; 
    font-size: 16px; 
    color: #edf0f1;
    text-decoration: none; 
}

header {
    display: flex; 
    justify-content: space-between; /* Ajouter de l'espace entre chaque composant du header */ 
    align-items: center; /* centrer chaque élément dans le header (hauteur) */ 
    padding: 30px 10%; 
    background-color: #24252A; 
    height: 50px;
}

.logo {
    cursor: pointer; /* afficher le curseur de la souris */ 
}

.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;          /* mettre les éléments du nav sur une même ligne */ 
    padding: 0px 50px;              /* espacer les élements du nav */ 
    transition: all 3s ease 0s;     /* effet d'espacement */ 
}

.nav_links li a {
    transition: all 1s ease 0s;     /* effet d'apparition sur les éléments du nav */ 
}

.nav_links li a:hover {
    color: #0088a9;
    transition: all 0s ease 0s;     /* effet d'apparition du hover */ 
}

#contact-button {
    padding: 0px 40px;              /* 0px hauteur et 40px largeur */
    background-color: rgba(0, 136,169); 
    border: none;                   /* pas de bordure */ 
    border-radius: 50px;            /* angle de lift des bordures */ 
    cursor: pointer;                /* afficher le curseur de la souris */ 
    transition: all 0.5s ease 0s;   /* effet d'apparition */ 
    outline: none; 
}

#contact-button:hover {
    background-color: rgba(0, 136,169,0.5);   /* pourcentage de la couleur au moment où l'on pose le curseur sur le bouton */
}



/* ---------------------------------------------------------------------------------------- */ 


div.corps {
    position:relative;
    height: 500px;
    padding:25.1%;
    min-height:100%;
    width:100%;
    color: rgb(48,69,151);
    background-image: url("images/coronavirus.jpg");
    -webkit-background-size: cover; 
    background-size: cover; 
}

::placeholder{
    color: black; 
    font-weight: bold;
}




/* ------------ Formulaire --------------- */ 

.wrapper {
    width: 600px;
    height: 520px;
    color: #000; 
    top: 50%;
    left: 50%;
    padding: 60px 30px;
    margin-top: -20px;
    position: relative;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow: 8px 8px 50px #000;
}

#info {
    text-align: center;
    margin-top: -30px; 
    margin-bottom: 10px; 
    font-family: "Pacifico", sans-serif;
    font-weight: 500; 
    font-size: 20px; 
    color: #edf0f1;
    text-decoration: none; 
}

/* ----------------------- LIGNE ------------------------- */

.ligne {
    display: flex; 
}



/* ----------------------- SIMPLE ANSWER ------------------------- */

.simple-answer {
    /* taille */ 
    width: 530px; 
    height: 30px;

    /* Arrière plan */ 
    background-color: rgba(255, 255, 255, 0.7);
    border: none; 
    border-radius: 20px;
    overflow: hidden; 
    outline: none; 
    
    /* Texte */ 
    font-size: 15px; 
    padding-left: 30px;                    /* déplacer le texte vers la droite dans le conteneur */ 
    font-style: "Pacifico", sans-serif; 


    /* espacement */ 
    margin-top: 4px; 
    margin-bottom: 2px; 
}  

.simple-answer:hover {
    /* Arrière plan */ 
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(0, 136,169,0.7);
    box-shadow: rgba(0, 136,169,0.7);
    border-radius: 7px;
    transition: all 2s ease 0s; 
}


/* Supprimer le placeholder (texte) au passage du curseur */ 
input[name="age"]:hover::placeholder {
    color: transparent;
}

/* Supprimer le placeholder (texte) au moment du clique */ 
input[name="age"]:focus::placeholder {
    color: transparent;
}


/* ------------------------- RADIO BUTTONS ----------------------- */

.radio-answer {
    /* taille */ 
    width: 530px;
    height: 30px;

    /* emplacement et alignement */ 
    display: flex; 
    vertical-align: middle;
    /* line-height: 12px; */

    /* ecpacement */ 
    margin: 8px 0px 0px 0px; 

    /* Arrière plan */ 
    background-color: rgba(255, 255, 255, 0.7);
    border: none; 
    border-radius: 20px;
    overflow: hidden; 
    

    /* Texte */ 
    font-size: 15px; 
    padding-left: 30px;                /* déplacer le texte vers la droite dans le conteneur */ 
    color: black; 
    text-decoration: none;   

}

.radio-answer:hover {
    /* Arrière plan */ 
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px;
    transition: all 1s ease 0s; 
}



.radio-answer h1 {
    /* espacement */ 
    width: 310px;

    /* texte */ 
    font-size: 15px;

    /* arrière plan */ 
    background-color: transparent;
}

label {
    /* texte */ 
    font-size: 15px;

    /* arrière plan */ 
    background-color: transparent;

    margin-top: 0px; 
    margin-left: 10px; 
    font-style: "Pacifico", sans-serif; 
}

/* ------------------------------ Question (indication) -------------------------------------- */ 

.tooltip {
    position: relative;
    background: rgba(0, 136,169,1);
    border-bottom: solid 3px #05353b;
    width: 30px;
    height: 30px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px -10px;
    font-size: 15px;
    border-radius: 100%;
    text-align: center;
    color: #FFF;
}
  
.tooltip:before,
.tooltip:after {
    position: absolute;
    content: '';
    opacity: 0;
    transition: all 0.4s ease;
}
  
.tooltip:before {
    border-width: 10px 8px 0 8px;
    border-style: solid;
    border-color:rgba(0, 136,169,1) transparent transparent transparent;
    top: -15px;
    left: 7px; 
    transform: translateY(20px);
}
  
.tooltip:after {
    content: attr(data-tooltip);
    background: rgba(0, 136,169,1);;
    width: 160px;
    height: 40px;
    font-size: 9px;
    font-weight: 70px;
    font-style: none;
    top: -75px;
    left: -10px;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    line-height: 10px;
    transform: translateY(20px);
}
  
.tooltip:hover::before,
.tooltip:hover::after {
    opacity: 1;
    transform: translateY(-2px);
}









/* ----------------------------------- BOUTON ENVOYÉ -------------------------------------- */ 


#send-button {
    margin-top: 20px;
    padding: 7px 50px;              
    background-color: rgba(0, 136,169); 
    border: none;                   /* pas de bordure */ 
    border-radius: 50px;            /* angle de lift des bordures */ 
    cursor: pointer;                /* afficher le curseur de la souris */ 
    font-size: 15px;
    color: white; 
    border-bottom: solid 2px #05353b;
}

#send-button:hover {
    background-color: rgba(0, 136,169,0.7);   /* pourcentage de la couleur au moment où l'on pose le curseur sur le bouton */
    margin-top: 20px;
    padding: 7px 245px;
    transition: all 2s ease 0s; 
}






/******************************************************************************************/ 
/************************************* FOOTER *********************************************/ 
/******************************************************************************************/ 

footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    background-color: #24252A;
    font-size: 15px;
    line-height: 35px; 
}

footer:hover {
    background-color: rgba(36, 37, 42,0.9);
}

.footer_links {
    width: 1199px;
}

.footer_links li{
    display: inline-block;
}

.footer_links li a{
    transition: all 2s ease 0s;
}

#copyright {
    margin: 0px 140px 0px 200px;
    padding: 0;
}

#footer-text {
    margin: 0px 110px 0px 150px;
    padding: 0;
}

#author {
    margin: 0px 0px 0px 120px;
    padding: 0;
    align-self: right;
}

#author:hover {
    color: #0088a9;
    transition: all 0s ease 0s;     /* effet d'apparition du hover */ 
}




















